/* phpcs:ignore */

.kleingarten-admin-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.kleingarten-admin-main-section {
    flex: 1;
    margin-right: 30px;
}

.kleingarten-admin-meter-readings, .kleingarten-active-tokens {
    width: 100%;
}

.kleingarten-admin-meter-readings th, .kleingarten-admin-meter-readings td,
.kleingarten-active-tokens th, .kleingarten-active-tokens td {
    padding: 15px;
    text-align: left;
}

.kleingarten-admin-meter-readings tr:nth-child(even), .kleingarten-active-tokens tbody tr:nth-child(odd) {
    background-color: #f0f0f1;
}

.kleingarten_meters_list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.kleingarten-tasks-kanban-list-wrapper {
    margin-top: 20px;
    margin-right: 20px;
    padding: 0.7em 2em 2em;
    min-width: 320px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #fff;
    box-sizing: border-box;
}

.kleingarten-tasks-kanban-list-item {
    margin-bottom: 1rem;
    padding: 10px 10px 20px 10px;
    border: 1px solid #c3c4c7;
    background-color: #ffffe0;
}

.kleingarten-kanban-project-list-item {
    display: inline;
    margin-right: 1rem;
}

.kleingarten-kanban-project-list-label {
    margin-right: 1rem;
}

.kleingarten-tasks-kanban-list-item-status-list {

}

.kleingarten-tasks-kanban-list-item-status-list-item {
    margin-right: 1rem;
}

.kleingarten-tasks-kanban-list-item-status-list-item::before {
    content: '>> ';
}

.kleingarten-admin-available-meters {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.kleingarten-admin-available-meters th, .kleingarten-admin-available-meters td {
    border: 1px solid #c3c4c7;
    padding: 0.5rem;
    text-align: left;
}